.eddieProfile {
    width: 20rem !important;
    border-radius: 0;
}

.eddieProfile:hover {
    cursor: grab;
}

.bg-myBlue {
    background-color: #2196f3 !important;
}

.skillChart {
    margin-top: -5rem;
}

.font-myBlue {
    color: #2196f3 !important;
}

.skillIcon{
    max-width: 40% !important;
}

.workImage{
    width: 30% !important;
}

.designerIcon {
    max-width: 22% !important;
}