.portfolioCoverImage {
    max-width: 50rem !important;
    transform: scale(1);
    transition: transform 0.5s ease;
}

.portfolioCoverImage:hover {
    transform: scale(1.1);
}

.cardLoader {
    width: 5rem !important;
    height: 5rem !important;
}

.carousel-control-next-icon {
    background-image: url("../images/myWorkPage/next.svg") !important;
    width: 3rem;
    height: 3rem;
}

.carousel-control-prev-icon {
    background-image: url("../images/myWorkPage/next.svg") !important;
    transform: scaleX(-1) !important;
    width: 3rem;
    height: 3rem;
}

.carouselCaptions {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.sr-only {
    visibility: hidden;
}

.hidden {
    visibility: hidden !important;
    height: 0px !important;
}